html{
    background-color: black;
    background:url("../images/DLD.png") black;
    background-size: contain ;
    background-position: right center;
    background-repeat: repeat;
    background-attachment:fixed;
    font-size: 0.8em;
    color:white;
    font-family: "Questrial",sans-serif;
}
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
  .navibar{
      display:none;
  }
.menuItem:hover {
    text-decoration: underline;
  }
.hamburger {
    position: fixed;
    z-index: 10000000000;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 1s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }

html.home h1{
    background-color: white;
}
  .seawindow{
    text-align: left;
  }
  .parallax {
    /* The image used */
    background-image: url("../images/visby.jpeg");
  
    /* Full height */
    min-height: 100%;
  
    /* Create the parallax scrolling effect */
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black
  }

footer {
    text-align: center;
    margin-bottom: 50px;
}

.cover, h1 {
   text-align: center;

   margin:auto;
}
a.skip {
    position: absolute;
    left:    -100000px;
    top:    auto;
    width:   1px;
    height:  1px;
    overflow:  hidden;
}
a.skip:focus {
    height: auto;
    width: auto;
    left: 1px;
    position:static;
}
h1 {
    font-size: 3em;
    margin: 40px auto;
}

footer {
    background-color: black;
    color: white;
    padding: 32px 8px;
}

a{
    color: white;
    padding:14px, 25px;
    text-align:left;
    text-decoration: none;
    display:inline-block;
}

.active.menuItem {
    font-size: 2em;
    background-color:var(--contentcolor);
    font-weight: bold;
}
.activenavibar {
    font-size: 1.1em;
    background-color:var(--contentcolor);
    font-weight: bold;
     border: 3px solid white; 
}

.intro {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 15px;
}
img {
    background-color:white;
    border: 4px solid var(--contentcolor);
    margin: auto;
    width: 80%;
}


.education {
    color:white ;
    text-align: right;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
html.home main{
  padding:8px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:center;
  gap:15px;
}
.discrip1, .discrip2{
    width:90%;
    margin:auto;
}

.bcmain{
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
.bcmain h2 {
font-size: 2em;
text-transform: capitalize;
}

.bccontent div{
    text-align:center;
    padding: 10px;
    margin: 10px;
    flex-wrap:wrap;
}
.bccontent>*, h2, .bccontent div >*{
    align-self: center;
    margin: 0 auto;
}
/* Code for playce page */
html.playce main{
    margin:auto;
    width: 90%;
    display: grid;
    grid-template-rows:repeat(9, auto);
    grid-gap:20px;
}

html.playce main div img{
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    object-fit: cover;
    border: none;
}

html.playce main>*{
    width:100%;
    height:100%;
    justify-self: center;
}


/* Code for findme page */
html.findme h1{
    text-align:left;
    margin-left: 40px;
}
html.findme .contact{
    display:flex;
    flex-direction:column;
    gap: 1.5em;
    
}
html.findme .deph, .bccontent>*,.intro>*, .contact>*, .discrip1, .discrip2{
    background-color: black;
}
html.findme main{
    margin-left: 40px;
}
html.findme .deph{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1.2em;
    margin-bottom:1.2em;
}
html.findme .intern{
    width:80%;
}
form{
    width:350px;
    border: 2px solid white;
    padding:40px 20px 60px 20px;
}
label{
    font-size:1em;
}
legend{
    color: var(--contentcolor);
    font-size:2em;
    padding-bottom: 50px;
}
input,textarea{
    width: 90%;
    box-sizing: border-box;
}

input[type=text], input[type=email], input[type=tel],input[type=text],input[type=submit],input[type=checkbox],textarea{
font-family:  "Questrial",sans-serif;   
background: none;
border:none;
border-bottom: 2px solid white ;
color:white; 
margin-bottom: 30px;
padding:10px;
}
textarea{
    border:2px solid white;
    height: 100px;
}
input[type=submit]{
    border:none;
    color:white;
    text-align:center;
    background-color:var(--contentcolor);
}
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 400px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
   
}

  

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: grey;
}
.flip-card-front img{
    width: 400px;
    height:300px;
    padding:0px;
    margin:0px;
    border:none;
}
.flip-card-back {
    background-color:var(--contentcolor);
    color: white;
    transform: rotateY(180deg);
    text-align: left;
    font-size:30px;
}
:root{
    --contentcolor: green;
}
#animation {
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: loaded;
}

@keyframes loaded {
    from {
        opacity: 0.0;
        margin-top: 50px;
    }

    to {
        opacity: 1.0;
        margin-top: 0px;
    }
}
@media only screen and (min-width: 600px) {
    html{
        font-size: 1em;
    }
    html.home {
        justify-content:center;
    }
    .intro{
        margin:auto;
        flex-direction: row;
        justify-content:flex-start;
        gap:3em;
        align-items: flex-end;
    }
    .menu, .hamburger{
        display:none;
    }
   
        .navibar {
        background-color: black;
        display: flex;
        width:100%;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: flex-start;
        outline: 1px solid white ;
        position: fixed;
        right:0;
        bottom:0;
        justify-content: flex-end;
        z-index:1000;
     }  

    nav li {
    padding: 10px;
    }

    .home {
        color: white;
        background-image: none;  
    }
    .education{
      text-align: left;
    
    }
  
    #animation {
        width:26%;
        margin:0px;
    }
   
    .bccontent{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2em;
        margin: auto;
    }
       
    .bccontent div:nth-child(odd){
        width: 80%;
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        text-align:left;
        outline:none;
    } 
    .bccontent div:nth-child(even){
        width: 80%;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-evenly;
        text-align:right;
        outline:none;
    } 
    .bccontent div>*{
        width: 40%;
    }

    html.playce main{
       width:80%;
       margin: auto;
       grid-template-columns: repeat(2, 50%);
       grid-template-rows: repeat(11, auto);
       align-items: stretch;
       grid-gap: 20px;
    }
  
    .grid1{

        grid-column: 1 /  span 2;
        grid-row:1 / 3;
        aspect-ratio: 2 / 1;
    }
    .grid2{
        grid-column: 1 /  2;
        grid-row:3 / 4;
        aspect-ratio: 2 / 1;
    }

    .grid3{
        grid-column: 2 / 3;
        grid-row:3 / 5;
        aspect-ratio: 1 / 1;
    }
    .grid4{
        grid-column: 1 / 2;
        grid-row:4 / 6;
        aspect-ratio: 1 / 1;
    }
    .grid5{
        grid-column: 2/ 3;
        grid-row:5 / 7;
        aspect-ratio: 1 / 1;
    }
    .grid6{
        grid-column: 1 / 2;
        grid-row:6 / 8;
        aspect-ratio: 1 / 1;
    } 
    .grid7{
        grid-column: 2/ 3;
        grid-row:7 / 9;
        aspect-ratio: 1 / 1;
    }
    .grid8{
        grid-column: 1 / 2;
        grid-row:8 / 10;
        aspect-ratio: 1 / 1;
    } 
    .grid9{
        grid-column: 2/ 3;
        grid-row:9 / 11;
        aspect-ratio: 1 / 1;
    }
    .grid10{
        grid-column: 1 / 2;
        grid-row:10 / 11;
        aspect-ratio: 2 / 1;
    }
    html.findme .intern{
        width:40%;
    }
    
} 
@media only screen and (min-width: 1000px) {
   
    .navibar {
       position: static;
       justify-content: flex-start;
       margin-bottom:1em;
       top: 0;
        left: 0;
        height: 50px;
     } 

    .bccontent>* {
        align-self: stretch;
    }
    html{
        font-size: 1.1em;
    }
    .intro{
        flex-direction:column-reverse;
        width:30%;
        gap:0px;
        align-items:stretch;
        padding: 10px;
        border: 2px solid white;
    }  
    .education{
        text-align: right;
    }
   
    html.home main{
        width:90%;
        justify-content:flex-start;
        gap: 30px;
    }
    .discrip1, .discrip2{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        width:30%;
        margin:0px;
        gap:20px;
      }
    #animation {
        width:60%;
    }

    .bccontent{
        flex-direction: row;
        justify-content: center;   
        flex-wrap: wrap;
        gap: 1em;
    }
    .bccontent div>*{
        width: 90%;
    }
    .cover{
        margin-bottom: 1.5em;
    }   
    .bccontent div:nth-child(odd), .bccontent div:nth-child(even){
        display: flex;
        flex-direction: column-reverse;
        width:20%;
        outline:2px solid var(--contentcolor);
        text-align: left;
        gap:10px;
    } 
    html.playce main {
        width: 80vw;
        height: 79.1100123vw;
        grid-gap: 3px;
        
        grid-template-columns: 61.8% 9.02% 5.58% 23.6%;
        grid-template-rows: 30.9% 4.51% 2.79% 11.8% 30%;
        grid-template-areas: "A B B B" "A E F C" "A E G C" "A D D C" "H I I J";
      }

    .grid1 {
        grid-area: A;
    }
    .grid2 {
        grid-area: B;
    }
    .grid3 {
        grid-area: C;
    }
    .grid4 {
        grid-area: D;
    }
    .grid5 {
        grid-area: E;
    }
    .grid6 {
        grid-area: F;
    }
    .grid7 {
        grid-area: G;
    }
    .grid8 {
        grid-area: J;
    }
    .grid9 {
        grid-area: I;
    }
    .grid10 {
        grid-area: H;
    }
    html.findme.deph{
    justify-content:space-evenly;
    }
    html.findme .intern{
        width:25%;
    }
    
}

@media (prefers-reduced-motion){
   #animation, .flip-card:hover .flip-card-inner {
        transition-property: none !important;
        transform: none !important;
        animation: none !important;
    }
    .menu{
        transition: 0s;
    }
    .parallax {
        /* The image used */
        background-image: none;
        background-color: black;
        /* Full height */
        min-height: 100%;
      
        /* Create the parallax scrolling effect */
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
      }
}


    

